RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule /(my-data|admin|order|toy/add|toy/edit|users|authorize) "https://%{HTTP_HOST}%{REQUEST_URI}" 
# vse podstrani, kjer prijavljeni uporabniki pridobijo ali podajo podatke,
# bodo redirectane na https. To pravilo ne preverja kdo je prijavljen.